# Notebook activity 5.2 Reading an R data file into R

In Notebook activity 5.1, we read data saved in a CSV format (the file **tokyo2020medals.csv**) into R, and we then saved the resulting data frame in an R data file (in the file **medals2020.RData**).

In this notebook activity, we will load the saved R data file **medals2020.RData** into R.

---

## (a) Getting started

**(i)** Make sure that a copy of the file **medals2020.RData** is saved in the same folder as this notebook.

---

## (b) Reading in a R data file



To read an R data file called, say, `filename.RData` into R, we simply use the command `load("filename.RData")`. (This is the same as you are asked to do to read in data frames that are just used in TMAs and the EMA.)

When doing this, make sure that the R data file is in the same folder as your current notebook. Also, once again note that we need to use quotation marks around the file name.

**(i)** Remove the `#` and adapt the code below to read the R data file **medals2020.RData** into R. 

Note that running the code does not create any output.

In [1]:
# load("filename.RData")

**Solution**

The required code is given below.

In [2]:
load("medals2020.RData")

---

Once the R data file has been loaded, the data (in the form of R objects) contained within it become available.

Of course to use these objects we need to know that they are called. One way of finding out is to use the command `ls()`. The output from this command are the names of the object that have been created in the session (included those loaded).

**(ii)** Run the following code to to see what objects have been created.

In [ ]:
ls()

**Solution**

The output contains the name `'medals2020'` which is the name of the (only) object contained in **medals2020.RData**

---

From part (ii) you should have noticed that the output included an object called `medals2020` (containing the data from the R data file)

**(iii)** By using the command `class()`, check that `medals2020` is a data frame.

**Solution**

The required code is given below. The resulting output confirms that `medals2020` is a data frame.

In [4]:
class(medals2020)

[1] "data.frame"

---

As `medals2020` is a data frame we can then work with it in the same way that we have with data frames previously. For example, in part (iv) you will obtain the first few rows of `medals2020`.

**(iv)** Use the `head()` function in the empty code cell below to check that the data frame `medals2020` contained in the R data file **medals2020.RData** has loaded okay.

**Solution**

The required code and resulting output are given below. 

The data frame contained in the R data file has indeed loaded okay.

In [5]:
head(medals2020)

  rank country        countryCode gold silver bronze total
1 1     United States USA         39   41     33     113
2 2     China         CHN         38   32     18      88
3 3     Japan*        JPN         27   14     17      58
4 4     Great Britain GBR         22   21     22      65
5 5     ROC           ROC         20   28     23      71
6 6     Australia     AUS         17    7     22      46