# Notebook activity 5.1 Reading a CSV file into R and creating an R data file

So far in M348, you have been using data that have been included in the R package `M348`. In this notebook activity you will instead read data into R that have been saved in a comma-delimited (CSV) format. 

The file you will be reading into R is **tokyo2020medals.csv**. 

The first 13 lines of this data file were shown in Figure 2, Subsection 2.2.1 of Unit 5.

---

## (a) Getting started

**(i)** Make sure that there is a copy of the file **tokyo2020medals.csv** in the same folder of this notebook. (This file was included in the zip file for the Unit 5 notebooks.)

---

## (b) Reading in a CSV file

In R, the function `read.csv()` can be used to read in data from a CSV file. The following command can be used to read the file called **filename.csv** into R and store the data in the object called `object`:

`object <- read.csv("filename.csv")`.

Notice that the name of the CSV file needs to be put in quotation marks (" "). 

By default, the `read.csv()` function assumes that the first line gives the names of the variables (i.e. that the file has a 'header').

**(i)** Run the code below to read the data from the CSV file **tokyo2020medals.csv** into R, and assign the data from the CSV file to an object called `medals2020`. 

Note running this command will not produce any output.

In [1]:
medals2020 <- read.csv("tokyo2020medals.csv")

**(ii)** Use the `head()` function to look at the first few entries in the object `medals2020`.

**Solution**

The required code and resulting output are given below.

In [2]:
head(medals2020)

  rank country        countryCode gold silver bronze total
1 1     United States USA         39   41     33     113
2 2     China         CHN         38   32     18      88
3 3     Japan*        JPN         27   14     17      58
4 4     Great Britain GBR         22   21     22      65
5 5     ROC           ROC         20   28     23      71
6 6     Australia     AUS         17    7     22      46

---

The object `medals2020` is automatically a data frame. This can be checked by using the function `class()` that was introduced in Notebook activity 3.1.

**(iii)** Run the following command to check that `medals2020` is a data frame.

In [ ]:
class(medals2020)

**Solution**

You should see that the output is `'data.frame'`. This confirms that `medals2020` is indeed a data frame.

---

## (c) Saving the data into R's data format

Having read the data into R, and stored them in the form of a data frame, it is helpful to save the data frame in one of R's own formats. 

R data files have the extension `.RData` after their filenames. So, to save a data frame called `dataFrame`, say, into an R data file called `filename.RData`, we can use the `save()` function and the command:

`save(dataFrame, file = "filename.RData")`

Note that with the save function is it important give the filename using `file = "filename.Rdata"` and not just `"filename.data"`.  

Note also, that we recommend that you give the extension of the filename as `.RData`.

**(i)** Remove the `#` and adapt the code below to save the data frame `medals2020` in a file called `medals2020.Rdata`.

Note that running the `save()` command will not produce any output in the notebook, *but* if you take a look at the files in your current (notebook) folder, you should find the new file.

In [4]:
# save(dataFrame, file = "filename.RData")

**Solution**

The required code is given in the code cell below.

In [5]:
save(medals2020, file = "medals2020.RData")

---

## (d) Finishing off

**(i)** Take a look at the files in your current (notebook) folder to check that the file **medals2020.RData** is there. Do not delete this file as you will need for Notebook activities 5.2 and 5.4.